<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Signup</title>
</head>

<body>
    <header>
        <h1>SocialNetworkZ</h1>
    </header>
    <nav>
        <a href="/">Login/Register</a>
        <a href="/timeline">Tijdlijn</a>
        <a href="/myTimeline">Mijn Tijdlijn</a>
        <a href="/myProfile">Mijn Profiel</a>
        <a href="/profiles">Profielen</a>
        <a href="/logout">Logout</a>
    </nav>